<ion-content >

  <div class="change-language" (click)="changeLanguage()">
      <span>En </span>
  </div>

  <div class="app-logo ion-margin-top">
     <img class="logo" src="../../../../assets/imgs/logo-wide u.png">
  </div>

  <div class="form-container ion-padding ion-margin-top" >
    <form [formGroup]="myForm" (ngSubmit)="login()">
      
      <ion-item lines="none">
        <ion-label color="primary" position="floating">{{ "ID"|translate}}</ion-label>
        <ion-input  formControlName="IDNumber"  type="number"></ion-input>
        <ion-icon src="./../../../../assets/imgs/mail.svg"  size="small"  slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="primary" position="floating">{{ "password"|translate}}</ion-label>
        <ion-input  formControlName="Password"  type="password"></ion-input>
        <ion-icon src="./../../../../assets/imgs/padlock.svg" size="small"  slot="end"></ion-icon>
      </ion-item>
      
      <div (click)="ForgetPassword()" class="forget-password">
        <p>
          {{ "forget" |translate}}
        </p>
      </div>
  
      <ion-button color="primary" class="auth-btn"  expand="block" shape="round" type="submit">
        <span > {{"login"|translate}}</span>
      </ion-button>
    </form>

    <div  class="have-no-account ion-margin-top">
      <p>
        {{ "noaccount" |translate}}
      </p>
    </div>

    <ion-button routerLink="/signup" color="primary" class="auth-btn-signup" fill="outline"  expand="block" shape="round" type="submit">
      <span > {{"register"|translate}}</span>
    </ion-button>
  </div>

</ion-content>