ion-content{
    position: relative;
    --background: url('../../../../assets/imgs/bg.png') no-repeat center center / 100% 100%;

    .app-logo{
        margin-top: 25%;
        text-align: center;
        .logo{
            width: 30%;
        }
    }

    .change-language{
        span{
            position: absolute;
            left: 20px;
            font-size: 20px;
            background-color: #01b3df;
            line-height: 30px;
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
            color: var(--ion-color-white);
        }
    }
    
    .form-container{
        ion-item{
            border-bottom: 1px solid var(--ion-color-primary);
            //--border-width	:1px;
        }
        ion-item::part(native){
            padding-inline-start:  0;
            --inner-padding-end: 0;
            background: transparent;
        }
        ion-icon{
            margin: 26px 0px;
        }
        ion-button{
            --border-radius	:10px;
            --color:var(--ion-color-white);
        }
        .auth-btn{
            margin: 0 15%;
            span{
                color: var(--ion-color-white);
                font-size: 16px;
                text-transform: lowercase;
               // padding-top: 5px;
            }
        }
        .auth-btn-signup{
            margin: 0 15%;
            span{
                color: var(--ion-color-primary);
                font-size: 18px;
            }
        }
        .forget-password{
            color: var(--ion-color-primary);
        }
        .have-no-account{
            text-align: center;
            margin-top: 30px;
           p {
               color: var(--ion-color-primary);
           }
        }
    }
}

